# Laravel
*.log
.env
.env.backup
.env.production
.env.local
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Dependencies
/node_modules
/vendor

# Build files
/public/build
/public/hot
/public/storage
/public/mix-manifest.json

# Storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*

# IDE and Editor files
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.DS_Store
Thumbs.db

# Testing
.phpunit.cache
.phpunit.result.cache

# Deployment
.vercel

# Temporary files
*.tmp
*.temp
